#game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    column-gap: 2rem;
}

#game-input{
    width: 40rem;
}

#game-input > h1{
    margin: 0;
}

#connecting{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 15%;
    justify-content: center;
}

#sessionId{
    font-size: 0.9rem;
    margin: 0;
}

#sessionId > span{
    color: var(--player-color);
}

#timeLeft{
    margin-bottom: 0;
    font-size: 1.5rem;
}

#connectedcolors > div{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

#connectedcolors > div > div{
    width: 3rem;
    height: 1.5rem;
    border-radius: 6px;
}

#disconnect{
    margin-top: 4rem;
    width: 6rem;
}

div#disconnect{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

div#disconnect > p{
    width: 8rem;
    max-width: 8rem;
    min-width: 8rem;
}

div#disconnect > div{
    height: 1.6rem;
}

div#disconnect > div:first-of-type{
    background-color: red;
    opacity: 0.6;
}

div#disconnect > div:last-of-type{
    background-color: rgb(37, 170, 214);
}