.inputbutton{
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputbutton[data-enabled=false]{
    pointer-events: none;
    opacity: 0.7;
}

.inputbutton > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    padding: 0;
    margin: 0;
}

.inputbutton > div > *{
    height: 100%;

}

.inputbutton input{
    outline: none;
    border: 1px solid rgb(182, 171, 171);
    border-right: 0px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
    padding-left: 0.4rem;
    padding-right: 1rem;
    width: 15rem;
    font-size: 1rem;
}

.inputbutton > div > .button{
    background-color: var(--player-color);
    border: 1px solid var(--player-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    margin: 0;
    width: 2.5rem;
}

.inputbutton #accepteddiv{
    position: absolute;
    left: 30%;
}